BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
SYSCONFIG MASTER_SPI_PORT=DISABLE CONFIGURATION=CFG ;
LOCATE COMP "GPIO72" SITE "L2" ;
IOBUF PORT "GPIO72" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "CLK_20M" SITE "T7" ;
LOCATE COMP "SD_DATA_o" SITE "L8" ;
LOCATE COMP "SUPPLY_CLK" SITE "K11" ;
LOCATE COMP "SD_CLK" SITE "N14" ;
LOCATE COMP "SD_DATA_i" SITE "L12" ;
IOBUF PORT "SD_CLK" IO_TYPE=LVCMOS33 ;
IOBUF PORT "SD_DATA_o" IO_TYPE=LVCMOS33 ;
IOBUF PORT "SUPPLY_CLK" IO_TYPE=LVCMOS33 ;
IOBUF PORT "CLK_20M" IO_TYPE=LVCMOS33 ;
IOBUF PORT "SD_DATA_i" IO_TYPE=LVCMOS33 ;
LOCATE COMP "SD_CLK_cpu" SITE "N9" ;
IOBUF PORT "SD_CLK_cpu" IO_TYPE=LVCMOS33 ;
